<html>

  <head>

    <title>DAW's blog</title>

  </head>

  <body>

    <div>

      <h1><a href="">Django DAW Blog</a></h1>

    </div>

    
    <div>

      <p>published: 23.05.2017, 09:20</p>
  
      <h2<<a href="">My firts post</a></h2>

      <p>Este es blog creado como practica.</p>

    </div>


    <div>
    
      <p>published: 23.05.2017, 09:25</p>
      
      <h2><a href="">My second post</a></h2>

      <p>Hola estoy de vuelta</p>

    </div>

    <p>Hi there!</p>

    <p>It works!</p>

  </body>

</html>
